body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#game {
  width: 90%; /* Adjusted width for better responsiveness */
  max-width: 500px; /* Limiting maximum width for larger screens */
  background-color: #ffffff;
  color: #0a0a23;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#target {
  border: 2px solid #0a0a23;
  padding: 15px; /* Increased padding for better readability */
  margin-bottom: 20px;
  text-align: center;
  font-size: 28px; /* Increased font size for better visibility */
}

#numbers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Responsive grid */
  grid-gap: 15px; /* Increased gap for better spacing */
}

button {
  cursor: pointer;
  color: #ffffff;
  background-color: #0a0a23;
  border: none;
  padding: 15px; /* Increased padding for better touch targets */
  border-radius: 10px; /* Increased border radius for better aesthetics */
  font-size: 24px; /* Increased font size for better visibility */
}

button:hover {
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
}

#result {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 20px; /* Increased padding for better visibility */
  margin-top: 20px;
  text-align: center;
  font-size: 40px; /* Increased font size for better visibility */
}